arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.5
cssselect2==0.7.0
Cython==3.0.5
defusedxml==0.7.1
diff-match-patch==20230430
dj-user-login-history==1.0.5
Django==4.2.7
django-import-export==3.3.3
django-jazzmin==2.6.0
django-leaflet==0.28.3
et-xmlfile==1.1.0
geojson==3.0.1
html5lib==1.1
idna==3.4
joblib==1.3.2
lxml==4.9.3
MarkupPy==1.14
numpy==1.25.2
odfpy==1.4.1
openpyxl==3.1.2
oscrypto==1.3.0
packaging==23.2
pandas==2.0.1
patsy==0.5.3
Pillow==10.1.0
pmdarima==2.0.3
psycopg2-binary==2.9.6
pycparser==2.21
pyHanko==0.20.1
pyhanko-certvalidator==0.24.1
pypdf==3.17.1
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
reportlab==3.6.13
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.4
six==1.16.0
sqlparse==0.4.4
statsmodels==0.14.0
svglib==1.5.1
tablib==3.5.0
threadpoolctl==3.2.0
tinycss2==1.2.1
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uritools==4.0.2
urllib3==2.1.0
webencodings==0.5.1
xhtml2pdf==0.2.11
xlrd==2.0.1
xlwt==1.3.0
gunicorn
whitenoise
python-decouple
django-semantic-admin
