{% extends 'dengue/base.html' %}
{% block title  %}{{selected_barangay}} Forecasting{% endblock %}

{% block content%}

<br>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="card p-2" >
                <br>
                <h3 class="text-center text-dark fw-bold">Brgy. {{selected_barangay}}, Biliran</h3>
                {% if forecast %}
                

                <h5 class="text-center text-secondary">Prediction for <span class="text-primary fs-5 fw-bold fst-italic">{{ forecast.date|date:"M. d, Y" }} - {{ prediction_date_plus_6_days|date:"M. d, Y" }}</span><br><span class="text-danger fs-3 fw-bold">{% if forecast.number_of_cases < 0 %}0{% else %}{{ forecast.number_of_cases }}{% endif %}</span><br><small class="text-secondary fs-6 small fst-italic">possible cases</small></h5>
                {% elif forecast.number_of_cases == 0   %}
                <h5 class="text-center text-secondary ">Prediction for <span class="text-primary fs-5 fw-bold fst-italic">{{ forecast.date|date:"M. d, Y" }} - {{ prediction_date_plus_6_days|date:"M. d, Y" }}</span><br><span class="text-danger fs-3 fw-bold">0</span><br><small class="text-secondary small fs-6 fst-italic">possible cases</small></h5>
                {% else %}
                  <p class="text-secondary text-center text-danger fs-6 fw-light fst-italic">not enough data for forecasting</p>
                {% endif%}
                
                

            </div>
        </div>
        
    </div>
    
    <br>
    <div class="row justify-content-center">
    
        <div class="col-md-10">
            <div class="card p-3 border">
                <div class="d-flex">
                    <div class="fw-bold fs-5">
                        CHART
                    </div>
                    
                    <div class="input-group justify-content-end ">
                        <!-- <button class="btn btn-sm btn-outline-secondary border font-monospace fw-bold px-3 active rounded-0" id="daily" onclick="updateChartDaily()">DAILY</button> -->
                        <button class="btn btn-sm btn-outline-secondary border font-monospace fw-bold px-3 rounded-0 active" id="weekly" onclick="updateChartWeekly()">WEEKLY</button>
                        <button class="btn btn-sm btn-outline-secondary border font-monospace fw-bold rounded-0" id="monthly" onclick="updateChartMonthly()">MONTHLY</button>
                    </div>
                </div>
                <canvas id="barangay_day" ></canvas>

            </div>
               
          

        </div>
    </div>
    <br>


    <!-- <div class="row justify-content-center">       
        <div class="col-md-9">
            
            <div class="card table-responsive shadow">
                <table class="table table-hover shadow" id="dataTable">
                    <p class="text-secondary text-center"> {{case_number}} Entries</p>
                    <thead class="table text-secondary text-center bg-secondary text-light">
                        <tr>
                            <th scope="col" >Residence ID</th>
                            <th scope="col">Dengue Type</th>
                            <th scope="col">Municipal</th>
                            <th scope="col">Barangay</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    
                    <tbody class="text-secondary text-center"> 
                        {% for case in case_list %}
                            <tr>
                                <td>{{ case.resident.resident_id }}</td>
                                <td>{{ case.dengue_type }}</td>
                                <td>{{ case.resident.municipal.municipal }}</td>
                                <td>{{ case.resident.barangay.barangay }}</td>
                                <td>{{ case.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>  -->
    
<br><br>

</div>



<script>
     var data_day = JSON.parse('{{ data_day|safe }}');
     var data_week = JSON.parse('{{ data_week|safe }}');
     var data_month = JSON.parse('{{ data_month|safe }}');

        
     // Use data in JavaScript
     console.log(data_day);

     const ctx = document.getElementById('barangay_day').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data_week.map(item => item.date),
                    datasets: [{
                        label: 'Weekly Cases',
                        data: data_week.map(item => item.total_cases),
                        backgroundColor: 'orange',
                        borderColor: 'orange',
                        borderWidth: 2,
                        hoverBackgroundColor: '#ff6d6d',
                        hoverBorderColor: '#ff6d6d',
                        pointRadius: 5,
                        // hoverBorderWidth: 2
                        
                        //radius:4
                    }]
                },
                options: {
                    plugins: {
                    legend: {
                    display: false
                    }
                },
                animation: false,
                    scales: {
                        x: {
                            grid: {
                              offset: true
                            }
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    },
                    barBorderRadius: 10
                }
                
            });

            


            console.log(data_month);
            /*
            const ctx2 = document.getElementById('barangay_month').getContext('2d');
             new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: data_month.map(item => item.month),
                    datasets: [{
                        label: 'Monthly Cases',
                        data: data_month.map(item => item.total_cases),
                        backgroundColor: '#ffc107',
                        borderColor: '#ffc107',
                        borderWidth: .5,
                        hoverBackgroundColor: 'grey',
                        hoverBorderColor: 'gray',
                        // hoverBorderWidth: 2
                        
                        radius:4
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 5
                            }
                        }
                    },
                    barBorderRadius: 2
                }
                
            });
            */

            function updateChartMonthly(){
                document.querySelector('#weekly').classList.remove('active')
                // document.querySelector('#daily').classList.remove('active')
                document.querySelector('#monthly').classList.add('active')
                myChart.data.labels = data_month.map(item => item.month);
                myChart.data.datasets[0].data = data_month.map(item => item.total_cases), 
                myChart.data.datasets[0].label = 'Monthly Cases';
                myChart.update();
            }
            // function updateChartDaily(){
            //     document.querySelector('#weekly').classList.remove('active')
            //     document.querySelector('#daily').classList.add('active')
            //     document.querySelector('#monthly').classList.remove('active')
            //     myChart.data.labels = data_day.map(item => item.date)
            //     myChart.data.datasets[0].data = data_day.map(item => item.total_cases)
            //     myChart.data.datasets[0].label = 'Daily Cases'
            //     myChart.update()
            // }
            function updateChartWeekly(){
                document.querySelector('#weekly').classList.add('active')
                // document.querySelector('#daily').classList.remove('active')
                document.querySelector('#monthly').classList.remove('active')
                myChart.data.labels = data_week.map(item => item.date)
                myChart.data.datasets[0].data = data_week.map(item => item.total_cases)
                myChart.data.datasets[0].label = 'Weekly Cases'
                myChart.update()
            }
    
 </script>

{% endblock %}